.card {
    color: rgb(19, 52, 81);
    font-family: helvetica;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: #fdfdfd;
    padding: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #e4e7ec;
}

.form-input {
    font-family: helvetica;
    font-size: 16px;
    width: 410px;
    height: 40px;
    text-align: left;
    border-style:outset;
    border-color: rgb(196, 201, 204);
    border-radius: 5px;
    padding-left: 10px;
    margin: 5px;
}

.form-select {
    font-family: helvetica;
    font-size: 16px;
    width: 410px;
    height: 40px;
    text-align: left;
    border-style: outset;
    border-color: rgb(196, 201, 204);
    border-radius: 5px;
    border-width: 2px;
    margin-top: 5px;
    padding: 10px;
}

.form-file {
    font-family: helvetica;
    font-size: 16px;
    width: 400px;
    height: auto;
    text-align: left;
    border-style: outset;
    border-color: rgb(196, 201, 204);
    border-radius: 5px;
    border-width: 2px;
    margin-top: 5px;
    padding: 10px;
}

.form-label {
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}

.btn {
    width: 100px;
    height: 35px;
    color:whitesmoke;
    background-color:rgb(50, 88, 106);
    border-style:solid;
    border-radius: 10px;
    border-color: #e4e7ec;
    font-family: helvetica;
    font-size: 14px;
    margin: 15px;
}

.btn-reset {
    width: 100px;
    height: 35px;
    color:whitesmoke;
    background-color:rgb(175, 61, 61);
    border-style:solid;
    border-radius: 10px;
    border-color: #e4e7ec;
    font-family: helvetica;
    font-size: 14px;
    margin: 15px;
}
